<header class="header">
    <div class="header__wrapper">
        <form action="search/" method="GET" class="search">
            <input type="text" class="search__input" name="search">
            <input type="submit" class="search__submit" value="Искать">
        </form>
        <ul class="user-data">
            <li class="user-data__item"><a href="/account/login" class="user-data__login">Вход</a></li>
            <li class="user-data__item"><a href="/account/register" class="user-data__register">Регистрация</a></li>
        </ul>
    </div>
</header>