<main class="wrapper">
    <section class="gallery">
        <ul class="gallery__list">
            {% for data in value %}
            <li class='gallery__item'>
                <figure>
                    <a href='{{ value.origPath|escape }}' target='_blank'>
                        <img src='{{ value.thumbPath|escape }}' class='gallery__picture'>
                    </a>
                    <figcaption class="gallery__image-title">
                        <span class="gallery__image-name">{{ value.imageName|escape }}</span>
                        <span class="gallery__num-of-views">{{ value.viewsCount|escape }}</span>
                    </figcaption>
                </figure>
            </li>
            {% endfor %}
        </ul>
    </section>
</main>